html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif
}

.myBar {
  transition: all 2s;
}

.myBar span {
  opacity: 0;
  transition: all 2s;
}

a {
  text-decoration: none;
}

img {
	cursor: pointer;
}

.mySlides {
	width: 100%;
}

.inset-shadow {
	box-shadow: inset 4px 4px 4px rgba(50, 50, 50, 0.5);
}